In [1]:
import sys
sys.path.append("..")

import pandas as pd

In [2]:
df = pd.read_hdf("../data/ca_2021_15min_resample/ca_his_2021.h5")
print(df.describe())

             317802        312134        312133        313159        319767  \
count  35040.000000  35040.000000  35040.000000  35040.000000  35040.000000
mean     120.155879    105.813413    134.602026    164.339583    150.351427
std       55.069699     58.517038     75.168112     87.225515     83.669255
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%       75.000000     56.000000     59.000000     78.000000     66.000000
50%      107.000000    103.000000    148.000000    178.000000    165.000000
75%      164.000000    147.000000    194.000000    236.000000    219.000000
max      333.000000    357.000000    370.000000    400.000000    366.000000

             319780        317830        314876        314886        314909  \
count  35040.000000  35040.000000  35040.000000  35040.000000  35040.000000
mean     208.290411    127.568750    158.205622    172.784189    228.699772
std      123.200304     53.723801    102.166882     97.137601    131.081447
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%       83.000000     85.000000     65.000000     74.000000    101.000000
50%      223.000000    115.000000    146.000000    192.000000    238.000000
75%      309.000000    165.000000    233.000000    253.000000    331.000000
max      501.000000    344.000000    623.000000    426.000000    758.000000

       ...       1221523       1221550       1221536       1221556  \
count  ...  35040.000000  35040.000000  35040.000000  35040.000000
mean   ...    499.050400    404.096604    279.868550    282.793779
std    ...    278.358771    219.644512    153.851557    156.272571
min    ...      0.000000      0.000000      0.000000      0.000000
25%    ...    216.000000    183.000000    123.000000    123.000000
50%    ...    583.000000    477.000000    325.000000    328.000000
75%    ...    746.000000    601.000000    421.000000    427.000000
max    ...    994.000000    759.000000    590.000000    561.000000

            1219551       1202527       1202549       1219560       1202522  \
count  35040.000000  35040.000000  35040.000000  35040.000000  35040.000000
mean     276.191495    234.563242    226.980451    351.776598    232.927312
std      168.183922    139.985887    135.763192    193.061267    125.224273
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%      103.000000     92.000000     89.000000    161.000000    109.000000
50%      311.000000    263.000000    255.000000    414.000000    271.000000
75%      412.000000    345.000000    334.000000    515.000000    335.000000
max      625.000000    524.000000    541.000000    737.000000    636.000000

            1202537
count  35040.000000
mean     220.547688
std      121.825498
min        0.000000
25%       99.000000
50%      261.000000
75%      321.000000
max      482.000000

[8 rows x 8600 columns]

In [4]:
print(df.isnull().sum().sum())

0

In [9]:
import numpy as np

print(df.iloc[109])

317802     55.0
312134     35.0
312133     24.0
313159     18.0
319767     17.0
           ...
1202527    10.0
1202549     9.0
1219560    39.0
1202522    17.0
1202537    16.0
Name: 2021-01-02 03:15:00, Length: 8600, dtype: float64

In [10]:
ndarray = df.to_numpy()
print(ndarray.shape)
print(ndarray[0,109])

(35040, 8600)
0.0

In [12]:
print(np.isnan(ndarray).sum())

0